# Lesson 2 Exercise 2: Creating Denormalized Tables

<img src="images/postgresSQLlogo.png" width="250" height="250">

## Walk through the basics of modeling data from normalized from to denormalized form. We will create tables in PostgreSQL, insert rows of data, and do simple JOIN SQL queries to show how these multiple tables can work together. 

#### Where you see ##### you will need to fill in code. This exercise will be more challenging than the last. Use the information provided to create the tables and write the insert statements.

#### Remember the examples shown are simple, but imagine these situations at scale with large datasets, many users, and the need for quick response time. 

Note: __Do not__ click the blue Preview button in the lower task bar

### Import the library 
Note: An error might popup after this command has exectuted. If it does read it careful before ignoring.

In [1]:
import psycopg2

### Create a connection to the database, get a cursor, and set autocommit to true

In [2]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)
conn.set_session(autocommit=True)

#### Let's start with our normalized (3NF) database set of tables we had in the last exercise, but we have added a new table `sales`. 

`Table Name: transactions2 
column 0: transaction Id
column 1: Customer Name
column 2: Cashier Id
column 3: Year `

`Table Name: albums_sold
column 0: Album Id
column 1: Transaction Id
column 3: Album Name` 

`Table Name: employees
column 0: Employee Id
column 1: Employee Name `

`Table Name: sales
column 0: Transaction Id
column 1: Amount Spent
`
<img src="images/table16.png" width="450" height="450"> <img src="images/table15.png" width="450" height="450"> <img src="images/table17.png" width="350" height="350"> <img src="images/table18.png" width="350" height="350">

### TO-DO: Add all Create statements for all Tables and Insert data into the tables

In [24]:
def drop_table(cursor, table):
    cursor.execute("DROP TABLE IF EXISTS {}".format(table))

def create_table(cursor, table, schema, drop=True):
    if drop:
        drop_table(cursor, table)
    cursor.execute("CREATE TABLE IF NOT EXISTS {} {};".format(table, schema))

In [25]:
# TO-DO: Add all Create statements for all tables
try: 
    schema_transactions2 = "(transaction_id int,\
                             customer_name varchar,\
                             cashier_id int,\
                             year int)"
    create_table(cur, "transactions2", schema_transactions2)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    schema_albums_sold = "(album_id int,\
                           transaction_id int,\
                           album_name varchar)"
    create_table(cur, "albums_sold", schema_albums_sold)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    schema_employees = "(employee_id int,\
                         employee_name varchar)"
    create_table(cur, "employees", schema_employees)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

try: 
    schema_sales = "(transaction_id int,\
                         amount_spent int)"
    create_table(cur, "sales", schema_sales)
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [29]:
def insert(cursor, table, columns, values):
    #print("INSERT INTO {} {} VALUES {}".format(table, columns, values))
    cursor.execute("INSERT INTO {} {} VALUES {}".format(table, columns, values))

def query(cursor, query, do_print = True):
    cur.execute(query)
    if do_print:
        rows = cur.fetchall()
        for r in rows:
            print(r)

In [27]:
columns_transactions2 = "(transaction_id,\
                          customer_name,\
                          cashier_id,\
                          year)"
insert(cursor = cur,\
       table = "transactions2",\
       columns = columns_transactions2,\
       values = (1, "Amanda", 1, 2000))

insert(cursor = cur,\
       table = "transactions2",\
       columns = columns_transactions2,\
       values = (2, "Toby", 1, 2000))

insert(cursor = cur,\
       table = "transactions2",\
       columns = columns_transactions2,\
       values = (3, "Max", 2, 2018))

INSERT INTO transactions2 (transaction_id,                          customer_name,                          cashier_id,                          year) VALUES (1, 'Amanda', 1, 2000)
INSERT INTO transactions2 (transaction_id,                          customer_name,                          cashier_id,                          year) VALUES (2, 'Toby', 1, 2000)
INSERT INTO transactions2 (transaction_id,                          customer_name,                          cashier_id,                          year) VALUES (3, 'Max', 2, 2018)

In [28]:
query(cursor=cur, query="SELECT * FROM transactions2")

(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

In [30]:
columns_albums_sold = "(album_id ,\
                        transaction_id ,\
                        album_name )"

values = [
    (1, 1, "Rubber Soul"),
    (2, 1, "Let It Be"),
    (3, 2, "My Generation"),
    (4, 3, "Meet the Beatles"),
    (5, 3, "Help!")
]

for v in values:
    
    insert(cursor = cur,\
           table = "albums_sold",\
           columns = columns_albums_sold,\
           values = v)

In [31]:
query(cursor=cur, query="SELECT * FROM albums_sold")

(1, 1, 'Rubber Soul')
(2, 1, 'Let It Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

In [32]:
columns_employees = "(employee_id,\
                        employee_name)"

values = [
    (1, "Sam"),
    (2, "Bob")
]

for v in values:
    
    insert(cursor = cur,\
           table = "employees",\
           columns = columns_employees,\
           values = v)

In [33]:
query(cursor=cur, query="SELECT * FROM employees")

(1, 'Sam')
(2, 'Bob')

In [34]:
columns_sales = "(transaction_id,\
                      amount_spent)"

values = [
    (1, 40),
    (2, 19),
    (3, 45)
]

for v in values:
    
    insert(cursor = cur,\
           table = "sales",\
           columns = columns_sales,\
           values = v)

In [35]:
query(cursor=cur, query="SELECT * FROM sales")

(1, 40)
(2, 19)
(3, 45)

#### TO-DO: Confirm using the Select statement the data were added correctly

In [ ]:
print("Table: #####\n")
try: 
    cur.execute("SELECT * FROM #####;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: #####\n")
try: 
    cur.execute("SELECT * FROM #####;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: #####\n")
try: 
    cur.execute("SELECT * FROM #####;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("\nTable: #####\n")
try: 
    cur.execute("SELECT * FROM #####;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

### Let's say you need to do a query that gives:

`transaction_id
 customer_name
 cashier name
 year 
 albums sold
 amount sold` 

### TO-DO: Complete the statement below to perform a 3 way `JOIN` on the 4 tables you have created.

In [ ]:
columns_transactions2 = "(transaction_id,\
                          customer_name,\
                          cashier_id,\
                          year)"

columns_albums_sold = "(album_id ,\
                        transaction_id ,\
                        album_name )"

columns_sales = "(transaction_id,\
                  amount_spent)"

columns_employees = "(employee_id,\
                      employee_name)"

In [45]:

q = "SELECT \
         t.transaction_id, t.customer_name, \
         e.employee_name, t.year, a.album_name, s.amount_spent \
     FROM transactions2 AS t \
     JOIN employees AS e ON t.cashier_id = e.employee_id \
     JOIN albums_sold AS a ON a.transaction_id = t.transaction_id \
     JOIN sales AS s ON s.transaction_id = t.transaction_id"

query(cursor=cur, query=q)

(1, 'Amanda', 'Sam', 2000, 'Rubber Soul', 40)
(1, 'Amanda', 'Sam', 2000, 'Let It Be', 40)
(2, 'Toby', 'Sam', 2000, 'My Generation', 19)
(3, 'Max', 'Bob', 2018, 'Meet the Beatles', 45)
(3, 'Max', 'Bob', 2018, 'Help!', 45)

#### Great we were able to get the data we wanted.

### But, we had to perform a 3 way `JOIN` to get there. While it's great we had that flexibility, we need to remember that `JOINS` are slow and if we have a read heavy workload that required low latency queries we want to reduce the number of `JOINS`.  Let's think about denormalizing our normalized tables.

### With denormalization you want to think about the queries you are running and how to reduce the number of JOINS even if that means duplicating data. The following are the queries you need to run.

#### Query 1 : `select transaction_id, customer_name, amount_spent FROM <min number of tables>` 
It should generate the amount spent on each transaction 
#### Query 2: `select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name` 
It should generate the total sales by cashier

###  Query 1: `select transaction_id, customer_name, amount_spent FROM <min number of tables>`

One way to do this would be to do a JOIN on the `sales` and `transactions2` table but we want to minimize the use of `JOINS`.  

To reduce the number of tables, first add `amount_spent` to the `transactions` table so that you will not need to do a JOIN at all. 

`Table Name: transactions 
column 0: transaction Id
column 1: Customer Name
column 2: Cashier Id
column 3: Year
column 4: amount_spent`

<img src="images/table19.png" width="450" height="450">

### TO-DO: Add the tables as part of the denormalization process

In [ ]:
# TO-DO: Create all tables
try: 
    cur.execute("#####")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)



#Insert data into all tables 
    
try: 
    cur.execute("INSERT INTO transactions (#####) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (#####) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (#####) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Now you should be able to do a simplifed query to get the information you need. No  `JOIN` is needed.

In [ ]:
try: 
    cur.execute("#####")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

#### Your output for the above cell should be the following:
(1, 'Amanda', 40)<br>
(2, 'Toby', 19)<br>
(3, 'Max', 45)

### Query 2: `select cashier_name, SUM(amount_spent) FROM <min number of tables> GROUP BY cashier_name` 

To avoid using any `JOINS`, first create a new table with just the information we need. 

`Table Name: cashier_sales
col: Transaction Id
Col: Cashier Name
Col: Cashier Id
col: Amount_Spent
`

<img src="images/table20.png" width="350" height="350">

### TO-DO: Create a new table with just the information you need.

In [ ]:
# Create the tables

try: 
    cur.execute("#####")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)


#Insert into all tables 
    
try: 
    cur.execute("INSERT INTO ##### (#####) \
                 VALUES (%s, %s, %s, %s)", \
                 (##### ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO ##### (#####) \
                 VALUES (%s, %s, %s, %s)", \
                 (##### ))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO ##### (#####) \
                 VALUES (%s, %s, %s, %s)", \
                 (#####))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Run the query

In [ ]:
try: 
    cur.execute("#####")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

#### Your output for the above cell should be the following:
('Sam', 59)<br>
('Max', 45)

#### We have successfully taken normalized table and denormalized them inorder to speed up our performance and allow for simplier queries to be executed.

### Drop the tables

In [ ]:
try: 
    cur.execute("DROP table ####")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table #####")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table #####")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table #####")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table #####")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)
try: 
    cur.execute("DROP table #####")
except psycopg2.Error as e: 
    print("Error: Dropping table")
    print (e)

### And finally close your cursor and connection.

In [ ]:
cur.close()
conn.close()